@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url(iconfont/HelveticaNeue-CondensedBold.otf) format('opentype');
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 250px;
  background: url('/assets/cover.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title{
  padding: 0;
}

.mdl-card__title-text{
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  width: 100%;
  top: 0;
  position: absolute;
}

.person-image{
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 999;
  text-align: center;
}

.person-image h2{
  text-transform: uppercase;
  font-family: 'HelveticaNeue-CondensedBold';
}

#person{
  width: 60%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mdl-data-table{
  width: 100%;
}

.admin-content{
  padding: 20px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised{
  background-color: #EA3260;
}

.mdl-button--colored.mdl-button--colored.mdl-button--raised, .mdl-button--raised.mdl-button--colored{
  background: #56BB4B;
}

#fab{
  background: #56BB4B;
  position: absolute;
  top: 225px;
  right: 30px;
  z-index: 999;
}

a{
  color: #56BB4B;
}

li{
  text-transform: capitalize;
}

.demo-card-square .mdl-card__title-text{
  position: relative;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
